@font-face {
  font-family: Plateia;
  src: url(../font/Plateia\ Bold.ttf);
}

body {
  background: linear-gradient(135deg, #000000, #111111);
  color: white;
}

.container-fluid.py-0.sec-menu-bgg {
  padding: 0;
}

/* togal menu */
.secallmenibg {
  display: flex;
  justify-content: space-between;
}

.sectogalbg button.navbar-toggler {
  background-color: #d4ff00;
  border: 1px solid #444;
  color: black;
  padding: 6px 10px;
  font-weight: bold;
  margin-left: 10px;
  border-radius: 0;
}

.sectogalbg .navbar-toggler i{
  font-size: 25px;
}
div#navbarOffcanvas2 {
    background: #000;
}
.seceletext{
  color: #fff;
}
.secmencontext{
    font-family: 'Plateia';
    color: #fff;
    font-size: 30px;
}
.seccontbgmenu {
  display: flex;
  padding-top: 40px;
}
.pxl-item-icon{
  width: 20%;
  background-color: #110E10;
  padding: 20px;
}
.pxl-item-icon i{
  font-size: 40px;
  color: #d4ff00;
}
.pxl-item-holder a{
  text-decoration: none;
}
.pxl-item-title{
    font-family: 'Montserrat';
  font-size: 20px;
  color: #fff;
}
.pxl-item-description{
   font-family: 'Montserrat';
  font-size: 16px;
  color: #666  ;
}
.pxl-item-holder{
  padding-left: 10px;
}
/* togal menu end */
.secnaebr {
  width: 100%;
}

.top-bar {
  color: #aaa;
  font-size: 14px;
  padding: 5px 15px;
}

.top-bar a {
  color: #aaa;
  text-decoration: none;
  margin-right: 15px;
}

.top-bar a:hover {
  color: #d4ff00;
}

.cta-btn .navbar-brand img {
  width: 61%;
  margin-top: -40px;
}


.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover {
  color: #d4ff00;
}

.menu-toggle {
  background-color: #d4ff00;
  border: 1px solid #444;
  color: black;
  padding: 6px 10px;
  font-weight: bold;
  margin-left: 10px;
}

.hero {
  padding: 80px 20px;
  background-image: url(../images/herobg.png);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.hero h1 {
  font-size: 68px;
  font-weight: bold;
  font-family: 'Plateia';
  width: 153% !important;
  position: relative;
  z-index: 9;
  margin-top: 0px;
}

.highlight {
  color: #d4ff00;
}

.cta-btn {
  background-color: #333333;
  border-left: 2px solid #d4ff00;
  border-right: 2px solid #d4ff00;
  border-top: 0px;
  border-bottom: 0px;
  color: #fff;
  padding: 12px 25px;
  font-weight: bold;
}

.cta-btn:hover {
  color: #000;
  background-color: #d4ff00;
  text-decoration: none;
}

.category-scroll {
  white-space: nowrap;
  overflow-x: auto;
  padding: 10px 0;
}

.category-scroll span {
  display: inline-block;
  color: black;
  background-color: #d4ff00;
  margin: 0 10px;
  padding: 5px 15px;
  font-weight: bold;
}

.headermenusec {
  padding-left: 40px !important;
  font-family: 'Montserrat';
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
}

.secbst {
  font-family: 'Montserrat';
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  margin-top: 100px;

}

.seclogow {
  width: 68%;
  margin-top: -40px;
}

/*  marquri */
.secover {
  overflow: hidden;
  padding: 138px 0px 120px 0px;
  position: relative;
  margin-top: -80px;
}

.maeqsec2 {
  background-color: #D5EE0C;
  padding: 10px 0px;
  transform: rotate(0deg);
  margin-top: -75px;
  margin-left: -20px;
  margin-right: -20px;
  position: relative;
  z-index: 99;
}

.maeqsec1 {
  background-color: #272727;
  padding: 10px 0px;
  transform: rotate(10deg);
  margin-top: -40px;
  margin-left: -20px;
  margin-right: -20px;
}

.maintextmarqflex {
  display: flex;
}

.martext {
  font-family: 'Plateia';
  font-size: 28px;
  color: #4E4E4E;
  font-weight: 500;
  text-transform: uppercase;
}

.martext2 {
  font-family: 'Plateia';
  font-size: 28px;
  color: #000;
  font-weight: 500;
  text-transform: uppercase;
}

.marimgsec {
  animation: pxl_spin_rv 8s ease-out infinite;
  -webkit-animation: pxl_spin_rv 8s ease-out infinite;
}

.secplabg {
  padding-bottom: 60px;
}

.secplaetext {
  text-align: center;
  font-family: 'Plateia';
  font-size: 35px;
}

.secfitextpl h6 {
  font-family: 'Plateia';
  font-size: 20px;
  color: #fff;
  padding-top: 40px;
}

.secfitextpl h4 {
  font-family: 'Plateia';
  font-size: 40px;
  color: #D5EE0C;
  border: 1px solid #D5EE0C;
  margin-top: 20px;
  padding-bottom: 5px;
  margin-right: -71px;
  position: relative;
  z-index: 9;
}

.secfitextpl p {
  font-family: 'Montserrat';
  font-size: 18px;
  color: #9A9A9A;
  padding-top: 20px;
}

.secbtnpla {
  margin-top: 30px;
}

.secbtnpla a {
  background-color: #333333;
  border-left: 2px solid #d4ff00;
  border-right: 2px solid #d4ff00;
  border-top: 0px;
  border-bottom: 0px;
  color: #fff;
  padding: 12px 25px;
  font-weight: 600;

}

.secbtnpla a:hover {
  color: #000;
  background-color: #d4ff00;
  text-decoration: none;
}

.secnameanitext {
  font-family: 'Plateia';
  font-size: 100px;
  text-align: center;
  font-weight: 700;
  /* color: #EEFB1333; */
  color: transparent;
  -webkit-text-stroke: 1px #EEFB1333;
  fill: transparent;
  position: outside;
}

.sec3secbumg {
  text-align: center;
}

/*  */
.sechobb {
  position: relative;
  padding: 0;
}

.seclinbgtr {
  padding-top: 50px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: 0;
  background: rgba(0, 0, 0, 0);
  transition: background 0.5s ease;
}

.sechobb:hover .overlay {
  display: block;
  background: #d4ff00c5;
}


.title {
  position: absolute;
  width: 100%;
  left: 0;
  top: 80px;
  font-weight: 700;
  font-family: 'Plateia';
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  z-index: 1;
  transition: top .5s ease;
}

.sechobb:hover .title {
  color: #000;
}

.secexpbgtext h5 {
  font-family: 'Plateia';
  font-size: 40px;
  text-align: center;
  font-weight: 700;
  /* color: #EEFB1333; */
  color: transparent;
  -webkit-text-stroke: 1px #363636;
  fill: transparent;
  position: outside;
}

.secexpbgtext h3 {
  font-family: 'Plateia';
  font-size: 30px;
  color: #fff;
}

.sechesexp {
  display: flex;
  justify-content: center;
}

.secjoinbg {
  padding-bottom: 60px;
}

.secfitnbgexp {
  padding-top: 60px;
  padding-bottom: 60px;
}

.secvideomanbg {
  padding: 60px 10px;
}

.secclassmainbg {
  padding-bottom: 100px;
}

.secclasshesdtext {
  font-family: 'Plateia';
  font-size: 30px;
  color: #fff;
  margin: 0;
}

.secclastext {
  font-family: 'Montserrat';
  font-size: 16px;
  color: #9A9A9A;
}

.sectableimg {
  padding-top: 40px;
}

.secprimainbg {
  padding-bottom: 60px;
}

.secpricebg {
  padding: 20px;
  margin-top: 40px;
}

.secpricebg:hover {
  background-color: #191919;
}

.secpricebg h5 {
  font-family: 'Plateia';
  font-size: 20px;
}

.secpricebg:hover h2 {
  color: #D5EE0C;
}

.secpricebg h2 {
  font-family: 'Plateia';
  font-size: 40px;
}

.secpricebg h2 span {
  font-family: 'Montserrat';
  font-size: 18px;
}

.secptiti {
  padding: 50px 0px;
}

.secptiti p {
  font-family: 'Montserrat';
  font-size: 16px;
  color: #9A9A9A;
}

.secprictbtn {
  padding-bottom: 40px;
}

.secprictbtn a {
  background-color: #333333;
  border-left: 2px solid #d4ff00;
  border-right: 2px solid #d4ff00;
  border-top: 0px;
  border-bottom: 0px;
  color: #fff;
  padding: 12px 25px;
  font-weight: bold;
}

.secprictbtn a:hover {
  color: #000;
  background-color: #d4ff00;
  text-decoration: none;
}

/* Testimonials */
.sectestimainbg {
  padding-bottom: 60px;
}

.sectestimbg {
  background-image: url(../images/textembg.png);
  background-position: top;
  background-size: cover;
  padding: 50px;
}

.bckgsec {
  background-color: #000;
  border-top: 5px solid #D5EE0C;
  padding: 50px 50px;
}

.secrevbg h5 {
  font-family: 'Montserrat';
  font-size: 20px;
  font-weight: 500;
  text-transform: capitalize;
}

.secrecname {
  font-family: 'Montserrat';
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  padding-top: 30px;
}

.secptena {
  font-family: 'Montserrat';
  font-size: 12px;
  color: #9A9A9A;
}

.reviw .owl-nav.disabled {
  display: none;
}

.reviw .owl-nav {
  display: none;
}

/* blog */
.secblogmainbg {
  padding: 0px 10px 60px 10px;
}

.secheadblog {
  font-family: 'Montserrat';
  font-size: 100px;
  text-align: center;
  font-weight: 700;
  color: transparent;
  -webkit-text-stroke: 1px #3D3D3D;
  fill: transparent;
  position: outside;
}

.seclisthead {
  font-family: 'Plateia';
  font-size: 35px;
  text-align: center;
}

.secblogdate h4 {
  position: absolute;
  top: 29%;
  right: -32px;
  transform: rotate(90deg) translateX(-50%);
  margin-top: -22px;
  clip-path: polygon(0px 0px, 100% 0px, 88% 100%, 0% 100%);
  background-color: #eefb13;
  height: 40px;
  display: inline-flex;
  align-items: center;
  font-family: 'Montserrat';
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0.45px;
  color: #000;
  padding: 0px 28px 0px 16px;
  z-index: 99;
}

/* .secblogimg img:hover{
      transform: scale(1.1) rotate(3deg);
} */
.secbloghead {
  border: 1px solid #9a9a9a28;
  padding: 20px 10px;
}

.secbloghead h3 {
  margin: 0;
  font-family: 'Plateia';
  font-size: 19px;
}

.secblogbylin {
  border: 1px solid #9a9a9a28;
  border-top: 0px;
  display: flex;
  justify-content: space-between;
}

.secblogbylin h6 {
  font-family: 'Plateia';
  font-size: 12px;
  padding-left: 15px;
}

.secblogbylin h6 span {
  color: #D5EE0C;
}

.secblogbylin p {
  border-left: 1px solid #9a9a9a28;
  padding: 10px;
  margin: 0;
}

.secblogbylin p:hover {
  background-color: #D5EE0C;
  color: #000;
}

.secblogbylin p:hover a svg path {
  fill: #000;
}

.bloglist .owl-nav.disabled {
  display: none;
}

.bloglist .owl-dots {
  text-align: center;
  padding-top: 20px;
}

.bloglist button.owl-dot {
  height: 16px;
  background: #D5EE0C;
  border: 4px solid #D5EE0C;
  margin-right: 10px;
}

.bloglist button.owl-dot.active {
  border: 4px solid #4E4E4E;
}

.secslidermainbgfoot {
  padding-top: 60px;
}

.footerslider .owl-nav.disabled {
  display: none;
}

.footerslider .owl-dots.disabled {
  display: none;
}

/* footer */
.secfooterbg {
  background-color: #000;
  background-image: url(../images/footerbg.png);
  background-position: bottom;
  background-repeat: no-repeat;
  padding-top: 60px;
  padding-bottom: 20px;
}

.secallbg {
  padding-bottom: 30px;
}

.secallbg h6 {
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 700;
  color: #EEFB13;
  text-transform: uppercase;
}

.secallbg p a {
  font-family: 'Plateia';
  font-size: 20px;
  color: #fff;
}

.secallbg2 h6 {
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 700;
  color: #EEFB13;
  text-transform: uppercase;
}

.secallbg2 p a {
  font-family: 'Plateia';
  font-size: 18px;
  color: #fff;
}

.secfooteser {
  font-family: 'Montserrat';
  font-size: 20px;
  font-weight: 700;
}

.secalinfootext {
  padding-top: 20px;
}

.secalinfootext p a {
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  color: #9A9A9A;
}

.secsocalfooterbg {
  display: flex;
  justify-content: center;
}

.secsocalfooterbg p {
  padding-left: 20px;
}

.secsocalfooterbg p a {
  padding: 10px 15px;
  background-color: #ffffff27;
  color: #fff;
}

.secpritexr {
  text-align: end;
  color: #586563;
}

.secpritexr a {
  text-align: end;
  font-family: 'Montserrat';
  font-size: 14px;
  color: #586563;
}

.secopy {
  font-family: 'Montserrat';
  font-size: 13px;
  color: #9A9A9A;
}